<style>
    #sidebar {
        background-color: #343a40; /* Color de fondo oscuro */
        padding: 20px;
        min-height: 100vh;
    }

    #sidebar h4 {
        margin-bottom: 40px; /* Espacio debajo del título */
    }

    .nav-item {
        margin-bottom: 20px; /* Espacio entre los elementos del menú */
    }

    .nav-link {
        padding: 10px; /* Aumenta el área clickeable */
        font-size: 20px; /* Tamaño del texto más grande */
    }
</style>


<nav id="sidebar">
    <h4 class="text-center">Bienvenido/a</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Reportes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Billeteras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Conversión</a>
        </li>
    </ul>
</nav>