
  <%- include('partials/header') %>
  <%- include('partials/menu') %>


  <div class="container welcome-container">
    <h3 class="display-4">¡Bienvenido/a a tu portal de Finanzas Personales!</h3>
    <br>
    <p class="lead">Nos alegra tenerte aquí</p>
    <br>
    <p>
      Este es el lugar perfecto para comenzar a tomar control de tus finanzas. Ya sea que estés buscando ahorrar más o simplemente entender mejor tu situación financiera, nuestra herramienta está diseñada para ayudarte a lograr tus metas.
      <br><br>
      ¡Comienza ahora y da el primer paso hacia tu bienestar financiero!
    </p>
    <br>

    <!-- Carrusel Bootstrap -->
    <%- include('partials/carrusel') %>


    <div class="mt-4">
      <a href="/dashboard" class="btn btn-primary btn-lg">Ir al Dashboard</a>
    </div>
  </div>


<%- include('partials/footer') %>
